@keyframes octo_eye_pupil{
  0%{left:10px;top:10px}
  25%{left:8px;top:9px}
  45%{left:8px;top:9px}
  50%{left:11px;top:10px}
  70%{left:11px;top:10px}
  75%{left:9px;top:10px}
  95%{left:9px;top:10px}
  100%{left:10px;top:10px}
}

@keyframes octo_eye_pupil_inner{
  0%{left:16px;top:16px}
  25%{left:14px;top:15px}
  45%{left:14px;top:15px}
  50%{left:17px;top:16px}
  70%{left:17px;top:16px}
  75%{left:15px;top:16px}
  95%{left:15px;top:16px}
  100%{left:16px;top:16px}
}

@keyframes left_wing{
  0%{left:-2px}
  50%{left:8px}
  100%{left:-2px}
}

@keyframes right_wing{
  0%{left:56px}
  50%{left:48px}
  100%{left:56px}
}

@keyframes balloon_holder{
  0%{right:-200px;}
  50%{right:120%;}
  100%{right:120%;}
}

@keyframes balloon1 {
  0%,100%{
    -webkit-transform:translateY(0) rotate(-9deg);
  }
  50%{
    -webkit-transform:translateY(-25px) rotate(-4deg);
  }
}
@keyframes balloon2 {
  0%,100%{ -webkit-transform:translateY(0) rotate(2deg);}
  50%{ -webkit-transform:translateY(-25px) rotate(10deg); }
}

@keyframes balloon_text {
  0%,100%{ -webkit-transform:translateY(0) rotate(-2deg);}
  50%{ -webkit-transform:translateY(-25px) rotate(1deg); }
}

@keyframes cloud4{
	0%{left:32%;opacity:1}
	50%{left:-46%;top:310px;opacity:1}
	100%{left:-46%;top:310px;}
}

@keyframes cloud3{
	0%{left:110%}
	50%{left:-46%;top:440px}
	51%{left:-46%;top:-200px;}
	52%{left:110%;top:-200px;}
	53%{left:110%;top:440px}
	100%{left:-26%;top:440px}
}

@keyframes cloud2{
	0%{left:110%}
	50%{left:-46%;top:310px}
	51%{left:-46%;top:-200px;}
	52%{left:110%;top:-200px;}
	53%{left:110%;top:310px}
	100%{left:-26%;top:310px}
}

@keyframes cloud1{
	0%{left:110%}
	50%{left:-46%;top:120px}
	51%{left:-46%;top:-200px;}
	52%{left:110%;top:-200px;}
	53%{left:110%;top:120px}
	100%{left:-46%;top:120px}
}


@keyframes water1{
  0%{top:510px;}
  25%{top:520px;left:-10px}
  50%{top:530px;left:-20px}
  75%{top:510px;left:-30px}
  100%{top:510px;}

}

@keyframes water2{
  0%{top:560px;} 
  25%{top:570px;left:-4px}
  50%{top:550px;left:4px}
  75%{top:570px;left:-3px}
  100%{top:560px;}
}


@keyframes water3{
  0%{top:610px;} // -100
  25%{top:624px;left:0px}
  50%{top:600px;left:-24px}
  75%{top:600px;left:-13px}
  100%{top:610px;}
}

@keyframes boat{
  0%{top:345px;left:4%;-webkit-transform:rotate(0deg);}
  15%{top:355px;left:3%;-webkit-transform:rotate(0deg);}
  50%{top:360px;left:5%;-webkit-transform:rotate(2deg);}
  75%{top:335px;left:3%;-webkit-transform:rotate(-2deg)}
  100%{top:345px;left:4%;-webkit-transform:rotate(0deg);}
}

@keyframes lego_body{
  0%{-webkit-transform:rotate(0deg);top:-20px}
  15%{-webkit-transform:rotate(2deg);top:-22px}
  50%{-webkit-transform:rotate(0deg);top:-21px}
  75%{-webkit-transform:rotate(-2deg);top:-17px}
  100%{-webkit-transform:rotate(0deg);top:-21px}
}

@keyframes lego_body_hat{
  0%{
    -webkit-transform:rotate(0deg);
  }
  15%{
    -webkit-transform:rotate(5deg);
  }
  50%{
    -webkit-transform:rotate(0deg);
  }
  75%{
    -webkit-transform:rotate(-8deg);
  }
  100%{
    -webkit-transform:rotate(0deg);
  }
}

@keyframes lego_body_hair{
  0%{-webkit-transform:rotate(0deg);left:341px;top:-30px}
  15%{-webkit-transform:rotate(2deg);left:343px;top:-32px}
  50%{-webkit-transform:rotate(0deg);left:342px;top:-31px}
  75%{-webkit-transform:rotate(-2deg);left:341px;top:-27px}
  100%{-webkit-transform:rotate(0deg);left:342px;top:-31px}
}

@keyframes lego_leg_right{
  0%{top:188px;left:380px}
  15%{-webkit-transform:rotate(50deg);top:186px;left:380px}
  50%{top:188px;left:380px}
  75%{-webkit-transform:rotate(62deg);top:185px;left:380px}
  100%{-webkit-transform:rotate(62deg);top:188px;left:380px}
}

@keyframes lego_leg_left{
  0%{top:171px;left:440px;height:18px}
  15%{-webkit-transform:rotate(-72deg);top:156px;left:440px;height:30px}
  50%{top:162px;left:440px;height:22px}
  75%{-webkit-transform:rotate(-66deg);top:168px;left:440px;height:18px}
  100%{-webkit-transform:rotate(-61deg);top:171px;left:440px;height:18px}
}

@keyframes fish{
	0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
	50%{
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
    -ms-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
	100%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
}

@keyframes fish2{
	0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
	100%{
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
    -ms-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
}

@keyframes fish_holder{
	50%{right:124%}
	100%{right:124%}
}

@keyframes fish_holder_2900{
  50%{right:148%}
  100%{right:148%}
}

@keyframes fish_holder_1500{
  50%{right:118%}
  100%{right:118%}
}

@keyframes fish_holder_1400{
  50%{right:112%}
  100%{right:112%}
}

@keyframes fish_holder_1300{
  50%{right:106%}
  100%{right:206%}
}

@keyframes fish_holder_1100{
  40%{right:70%}
  41%{right:120%}
  100%{right:120%}
}

@keyframes fish_holder_900{
  30%{right:35%}
  31%{right:120%}
  100%{right:120%}
}

@keyframes fish_holder_700{
  30%{right:17%}
  31%{right:120%}
  100%{right:120%}
}

@keyframes coat{
	0%{
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    transform:rotate(2deg);
  }
	25%{
    -webkit-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);
    -o-transform:rotate(-4deg);
    -ms-transform:rotate(-4deg);
    transform:rotate(-4deg);
  }
	50%{
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    transform:rotate(2deg);
  }
	75%{
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    -ms-transform:rotate(-2deg);
    transform:rotate(-2deg);
  }
	100%{
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    transform:rotate(2deg);
  }
}

@keyframes twit{
	0%{left:-46px}
	25%{left:-50px}
	50%{left:-46px}
	75%{left:-40px}
	100%{left:-46px}
}

@keyframes twit_rope{
	0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
	25%{
    -webkit-transform:rotate(6deg);
    -moz-transform:rotate(6deg);
    -o-transform:rotate(6deg);
    -ms-transform:rotate(6deg);
    transform:rotate(6deg);
  }
	50%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
	75%{
    -webkit-transform:rotate(-9deg);
    -moz-transform:rotate(-9deg);
    -o-transform:rotate(-9deg);
    -ms-transform:rotate(-9deg);
    transform:rotate(-9deg);
  }
	100%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
}
