rect()
  width  arguments
  height arguments
  
circle()
  rect arguments 
  border-radius 50% 

hl(color=deeppink, size=1px)
  outline size solid color
  
nw()
  top  arguments
  left arguments
  
PX = (1/16)rem
gs = 10*PX

c-sea1 = #01a0db
c-sea2 = #0ebeff
c-sea3 = #48cdfd

body, html
  rect 100%
  margin  0
  padding 0
  overflow hidden
  font-size 16px 
body
  background rgb(135,224,253)
  background radial-gradient(ellipse at center,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%)
waterHeight = 20*gs
.water-holder
  position absolute
  bottom 0
  width 100%
  height waterHeight
  waterShift = 5*gs
  .water
    position absolute
    nw -10%
    rect 120%
    top -(waterShift)
    z-index 0
    &--middle
      top 0
      z-index 1
    &--front
      top waterShift
      z-index 3
  .boat
    bottom    waterHeight - waterShift
    left      4%
    position  absolute
    z-index   2
.water
  background-color c-sea1
  position relative
  z-index 0
  &--middle
    background-color c-sea2
  &--front
    background-color c-sea3
  circleSize = 8*gs
  &__top
    circle circleSize
    background-color inherit
    position absolute
    top -(circleSize/2)
    box-shadow 0 -9*PX gs rgba(0,0,0,.02)
    z-index -1
    for i in 0..36
      &--{i}
        left circleSize*i
.boat
  width     59*gs
  height    30*gs
  &__part
    position    absolute
    box-shadow  0 16*PX 10*PX -17*PX rgba(0,0,0,0.5)
    overflow    hidden
    height      31*gs
    &:after
      content     ''
      position    absolute
      background  rgb(189,68,126)
      box-shadow  -1*PX -1*PX 10*PX -2*PX rgba(0,0,0,0.5)
    &--base
      z-index  4
      bottom   0
      left     138*PX
      width    288*PX
      height   76*PX
      &:after
        width       40*gs
        height      15*gs
        top         54*PX
        left        -76*PX
        background  rgb(255,88,168)
        background  linear-gradient(to bottom,  rgba(255,88,168,1) 0%,rgba(188,39,109,1) 100%)
        transform   skew(38deg, -4deg) rotate(-12deg)
    &--right-base
      z-index   5
      bottom    73*PX
      left      348*PX
      width     234*PX
      height    106*PX
      transform rotate(-45deg) skewY(-4deg)
      &:after
        content ''
        width       30*gs
        height      15*gs
        top         41*PX
        left        -76*PX
        background  linear-gradient(to right,  rgba(189,68,126,1) 0%,rgba(255,88,168,1) 100%)
        transform   rotate(24deg)
    &--left-base
      z-index   3
      bottom    14*PX
      left      34*PX
      width     234*PX
      height    306*PX
      transform rotate(-19deg) skewX(18deg)
      &:after
        width       32*gs
        height      30*gs
        top         25*gs - 2*PX
        left        -5*gs  - 2*PX
        background  linear-gradient(to right,  rgba(189,68,126,1) 0%,rgba(255,88,168,1) 100%)
        box-shadow  30*PX -1*PX 27*PX -2*PX rgba(0, 0, 0, 0.50)
        transform   rotate(45deg) skewX(41deg)
    &--middle-left
      z-index   2
      bottom    56*PX
      left      86*PX
      width     22*gs
      height    206*PX
      &:after
        width       16*gs
        height      18*gs
        top         34*PX
        left        178*PX
        background  linear-gradient(to right,  rgba(189,68,126,1) 0%,rgba(255,88,168,1) 100%) /* W3C */
        box-shadow  -12*PX 106*PX 54px -2px rgba(0, 0, 0, 0.50)
        transform   rotate(32deg)
    &--middle-right
      z-index     2
      bottom      74*PX
      left        306*PX
      width       18*gs
      height      183*PX
      box-shadow  -19*PX 16*PX 10*PX -17*PX rgba(0,0,0,0.5)
      &:after
        width       16*gs
        height      18*gs
        top         51*PX
        left        -98*PX
        background  linear-gradient(to right,  rgba(189,68,126,1) 0%,rgba(255,88,168,1) 100%)
        transform   rotate(-35deg)
    &--back-right
      z-index   0
      bottom    68*PX
      left      30*gs
      width     24*gs
      height    206*PX
      transform rotate(-42deg)
      &:after
        width     30*gs
        height    16*gs
        top       102*PX
        left      -6*gs
        transform rotate(40deg)
    &--back-left
      z-index   1
      bottom    65*PX
      left      48*PX
      width     23*gs
      height    206*PX
      transform rotate(-35deg)
      &:after
        width       42*gs
        height      30*gs
        top         93*PX
        left        -152*PX
        background  linear-gradient(to right,  rgba(189,68,126,1) 0%,rgba(255,88,168,1) 100%)
        transform   rotate(40deg)
  .chicken-holder
    position    absolute
    z-index     2
    left        155*PX
    top         124*PX
    transform   rotate(10deg)
    transition  all 2s ease-out
    // transition: all 2s ease-in-out
    // animation: chicken 4s linear infinite

.chicken-launcher
  position    absolute
  z-index     15
  cursor      pointer
  rect        8*gs
  top         11*gs
  left        15.5*gs
  transition  all 2s ease-out
  opacity     0
  &:checked, &:checked ~ .chicken-holder
    top         -11*gs
    z-index     3
    transform   rotate(0)
  &:checked
    z-index 4
  & ~ .chicken-holder .chicken__wing--left
    // animation   left_wing .1s linear infinite
  & ~ .chicken-holder .chicken__wing--left
    // animation: right_wing .1s linear infinite;

c-chicken = #ffdd00
c-chicken-orangle = #e76213
c-chicken-orangle-shadow = #ce4113
c-chicken-shadow  = #fbb500
.chicken
  width             64*PX
  height            139*PX
  width             63*PX
  height            76*PX
  background-color  c-chicken
  box-shadow        inset -2px -6px 0 c-chicken-shadow
  border-radius     50%  50%  50%  50%  / 60%   60%   40%  40%;
  position          relative
  &__legs
    height    115*PX
    width     7*gs
    position  absolute
    top       -1*PX
    z-index   -1
    &:before, &:after
      content       ''
      position      absolute
      background    c-chicken-orangle
      border-radius gs
      box-shadow    inset 1*PX -1*PX 0 c-chicken-orangle-shadow
    &:before
      width   3*PX
      height  8*PX
      top     74*PX
      left    36*PX
    &:after
      width   3*PX
      height  8*PX
      top     74*PX
      left    26*PX
    &__leg
      position      absolute
      border-radius gs
      background    c-chicken-orangle
      box-shadow    inset 1*PX -1*PX 0 c-chicken-orangle-shadow
      &:before, &:after
        content       ''
        position      absolute
        box-shadow    inset -1*PX -1*PX 0 c-chicken-orangle-shadow
        border-radius inherit
        background    inherit
      &--left
        top     82*PX
        left    26*PX
        width   5*PX
        height  3*PX
        &:before
          width     5*PX
          height    13*PX
          top       -2*PX
          left      -10*PX
          transform rotate(72deg)
        &:after
          width     5*PX
          height    11*PX
          top       -1*PX
          left      -4*PX
          transform rotate(26deg)
      &--right
        top     82*PX
        left    31*PX
        width   5*PX
        height  3*PX
        &:before
          width       5*PX
          height      13*PX
          top         -2*PX
          left        9*PX
          box-shadow  inset 1*PX -1*PX 0 c-chicken-orangle-shadow
          transform   rotate(-59deg)
        &:after
          width     5*PX
          height    11*PX
          top       -1*PX
          left      3*PX
          transform rotate(1deg)
    &__rope
      position          absolute
      z-index           1
      top               78*PX
      left              23*PX
      height            2*PX
      width             18*PX
      background-color  black
      background-color  rgba(0,0,0,.7)
      border-radius     PX
      &:after
        content           ''
        position          absolute
        top               0
        left              0
        height            2*PX
        width             9*PX
        background-color  inherit
        border-radius     inherit
        transform         rotate(17deg)
      &--twitter
        position          absolute
        z-index           1
        top               79*PX
        left              31*PX
        height            44*PX
        width             1*PX
        background-color  black
        background-color  rgba(0,0,0,.6)
        border-radius     1*PX
        transform-origin  50% 0
        // animation  twit_rope 4s linear infinite;
  &__hair
    width     16*PX
    height    10*PX
    position  absolute
    z-index   -1
    top       -11*PX
    left      35%
    &__bit
      &--1, &--2
        position absolute
        background-color #e76213
        border-radius     gs
      &--1
        width             5*PX
        height            8*PX
        top               4*PX
        left              3*PX
        box-shadow        inset 1*PX -1*PX 0 c-chicken-orangle-shadow
        transform         rotate(-43deg)
      &--2
        width             5*PX
        height            10*PX
        top               2*PX
        left              10*PX
        box-shadow        inset -1*PX -2*PX 0 c-chicken-orangle-shadow
        transform         rotate(27deg)
  &__wing
    position          absolute
    z-index           -1
    background-color  c-chicken
    circle             9*PX
    &:before, &:after
      content     ''
      position    absolute
      background  inherit
      box-shadow  inherit
      circle      6*PX
    &--left
      top         58*PX
      left        -2*PX
      box-shadow  inset -2*PX -1*PX 0 c-chicken-shadow
      // animation left_wing .1s linear infinite;
      &:before
        top   -6*PX
        left  -1*PX
      &:after
        top   7*PX
        left  7*PX
    &--right
      top         58*PX
      left        56*PX
      box-shadow  inset 2*PX -1*PX 0 c-chicken-shadow
      // animation  right_wing .1s linear infinite
      &:before
        top   -6*PX
        left  5*PX
      &:after
        top   7*PX
        left  -4*PX
  &__plumage
    position          absolute
    background-color  c-chicken
    box-shadow        0 1*PX 0 c-chicken-shadow
    &:before, &:after
      content     ''
      position    absolute
      box-shadow  inherit
      background  inherit
    &--1
      top               48*PX
      left              4*PX
      circle            4*PX
      &:before
        top             2*PX
        left            15*PX
        circle          5*PX
      &:after
        top             4*PX
        left            8*PX
        circle          6*PX
    &--2
      top               55*PX
      left              30*PX
      circle            6*PX
      &:before
        top             6*PX
        left            -5*PX
        circle          5*PX
      &:after
        top             7*PX
        left            -14*PX
        circle          5*PX
    &--3        
      top               47*PX
      left              43*PX
      circle            6*PX
      &:before
        top             5*PX
        left            -4*PX
        circle          5*PX
      &:after
        top             7*PX
        left            6*PX
        circle          5*PX
  &__eye
    position            absolute
    background-color    white
    z-index             0
    box-shadow          2*PX 2*PX 0 #fbb500
    &:before, &:after
      content           ''
      position          absolute
      background-color  #ffdd00
      z-index           -1
    &--left
      circle            gs
      top               33*PX
      left              7*PX
      &:before
        top             -4*PX
        left            -1*PX
        circle          8*PX
        width           6*PX
        height          4*PX
        box-shadow      0*PX -2*PX 1*PX -1*PX #c99100
        transform       rotate(-38deg)
      &:after
        width                       0
        height                      0
        top                         3*PX
        left                        3*PX
        border-right                2*PX solid transparent
        border-top                  2*PX solid black
        border-left                 2*PX solid black
        border-bottom               2*PX solid black
        border-top-left-radius      2*PX
        border-top-right-radius     2*PX
        border-bottom-left-radius   2*PX
        border-bottom-right-radius  2*PX
        transform                   rotate(-45deg)
    &--right
      circle        12*PX
      top           33*PX
      left          44*PX
      &:before
        top         -4*PX
        left        4*PX
        circle      8*PX
        width       6*PX
        height      3*PX
        box-shadow  0 -3*PX 1*PX -1*PX #c99100
        transform   rotate(38deg)
      &:after
        rect                        0
        top                         3*PX
        left                        3*PX
        border-right                2*PX solid transparent
        border-top                  2*PX solid black
        border-left                 2*PX solid black
        border-bottom               2*PX solid black
        border-top-left-radius      2*PX
        border-top-right-radius     2*PX
        border-bottom-left-radius   2*PX
        border-bottom-right-radius  2*PX
        transform                   rotate(-45deg)
  &__nib
    rect          0
    border        5*PX solid transparent
    border-bottom 2*PX solid #d44914
    position      absolute
    top           31*PX
    left          25*PX
    &:after
      content     ''
      position    absolute
      border      5*PX solid transparent
      left        -5*PX
      top         2*PX
      rect        0
      border-top  7*PX solid #d44914
    &--shadow
      rect          0
      border-bottom 2*PX solid #fbb500
      top           33*PX
      left          26*PX
      &:after
        left        -5*PX
        top         2*PX
        border-top  7*PX solid #fbb500
  &__twit
    position          absolute
    top               126*PX
    left              -49*PX
    background-color  white
    border-radius     6*PX
    z-index           0
    padding           4px
    padding-bottom    0
    transform         rotate(15deg)
    // animation: twit 4s linear infinite
    &:before, &:after
      content           ''
      position          absolute
      top               -1*gs
    &:before
      circle            6*PX
      z-index           -1
      border            5*PX solid white
      border-radius     2*gs
      left              42%
    &:after
      width             2*PX
      height            5*PX
      background-color  black
      left              46%
      transform         rotate(-15deg)

.legomushroom-holder
  position absolute
  left 354*PX
  z-index 3
  top  -2*gs

.legomushroom
  position absolute
  height 250*PX
  width 130*PX
  border-top-left-radius 66*PX
  border-top-right-radius 66*PX 
  border-bottom-right-radius 66*PX
  background rgb(7,195,252)
  background radial-gradient(ellipse at center,  rgba(7,195,252,1) 0%,rgba(5,171,224,1) 100%)

  box-shadow 0 8*PX 10*PX rgba(0,0,0,.4)
  transform rotate(0)
  // animation:lego_body 5s ease-in infinite;
  &__hat
    position:absolute
    top:-46px
    left:46px
    width:58px
    height:76px
    overflow:hidden
    z-index:1000
    transform:rotate(0deg);
    // animation:lego_body_hat 5s ease-in infinite;
    &__base
      position absolute
      z-index 1
      top 6px
      left 18px
      width 32px
      height 42px
      background-color #002433
      transform rotate(8deg)
      &:after
        content ''
        position absolute
        top 0px
        left -1px
        width 32px
        height 42px
        background-color #002433
        transform rotate(2deg)
    &__base-line
      z-index:3
      position:absolute
      top:-14px
      left:-15px
      border:6px solid #002433
      width:80px
      height:54px
      border-radius: 40px / 25px
      box-shadow:0 2px 3px rgba(0,0,0,.3);
      transform:rotate(12deg);
    &__stripe
      position:absolute
      z-index:2
      top:7px
      left:17px
      width:33px
      height:42px
      overflow:hidden
      transform:rotate(10deg);
      &:after
        content:""
        position:absolute
        z-index:2
        top:-12px
        left:-32px
        width:80px
        height:40px
        border-radius: 40px / 20px
        border:5px solid #043147
      &__square
        z-index:3
        width:7px
        height:7px
        position:absolute
        top:31px
        left:8px
        background-color:#0d4759
    &__top
      position:absolute
      top:4px
      left:21px
      width:32px
      height:4px
      border-radius: 16px / 2px
      background-color: #115f80
      transform:rotate(9deg);











      
  