body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}
body {
  background: #87e0fd;
  background: -webkit-radial-gradient(center, ellipse, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: radial-gradient(ellipse at center, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
}
.water-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12.5rem;
}
.water-holder .water {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  top: -3.125rem;
  z-index: 0;
}
.water-holder .water--middle {
  top: 0;
  z-index: 1;
}
.water-holder .water--front {
  top: 3.125rem;
  z-index: 3;
}
.water-holder .boat {
  bottom: 9.375rem;
  left: 4%;
  position: absolute;
  z-index: 2;
}
.water {
  background-color: #01a0db;
  position: relative;
  z-index: 0;
}
.water--middle {
  background-color: #0ebeff;
}
.water--front {
  background-color: #48cdfd;
}
.water__top {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  top: -2.5rem;
  box-shadow: 0 -0.5625rem 0.625rem rgba(0,0,0,0.02);
  z-index: -1;
}
.water__top--0 {
  left: 0rem;
}
.water__top--1 {
  left: 5rem;
}
.water__top--2 {
  left: 10rem;
}
.water__top--3 {
  left: 15rem;
}
.water__top--4 {
  left: 20rem;
}
.water__top--5 {
  left: 25rem;
}
.water__top--6 {
  left: 30rem;
}
.water__top--7 {
  left: 35rem;
}
.water__top--8 {
  left: 40rem;
}
.water__top--9 {
  left: 45rem;
}
.water__top--10 {
  left: 50rem;
}
.water__top--11 {
  left: 55rem;
}
.water__top--12 {
  left: 60rem;
}
.water__top--13 {
  left: 65rem;
}
.water__top--14 {
  left: 70rem;
}
.water__top--15 {
  left: 75rem;
}
.water__top--16 {
  left: 80rem;
}
.water__top--17 {
  left: 85rem;
}
.water__top--18 {
  left: 90rem;
}
.water__top--19 {
  left: 95rem;
}
.water__top--20 {
  left: 100rem;
}
.water__top--21 {
  left: 105rem;
}
.water__top--22 {
  left: 110rem;
}
.water__top--23 {
  left: 115rem;
}
.water__top--24 {
  left: 120rem;
}
.water__top--25 {
  left: 125rem;
}
.water__top--26 {
  left: 130rem;
}
.water__top--27 {
  left: 135rem;
}
.water__top--28 {
  left: 140rem;
}
.water__top--29 {
  left: 145rem;
}
.water__top--30 {
  left: 150rem;
}
.water__top--31 {
  left: 155rem;
}
.water__top--32 {
  left: 160rem;
}
.water__top--33 {
  left: 165rem;
}
.water__top--34 {
  left: 170rem;
}
.water__top--35 {
  left: 175rem;
}
.water__top--36 {
  left: 180rem;
}
.boat {
  width: 36.875rem;
  height: 18.75rem;
}
.boat__part {
  position: absolute;
  box-shadow: 0 1rem 0.625rem -1.0625rem rgba(0,0,0,0.5);
  overflow: hidden;
  height: 19.375rem;
}
.boat__part:after {
  content: '';
  position: absolute;
  background: #bd447e;
  box-shadow: -0.0625rem -0.0625rem 0.625rem -0.125rem rgba(0,0,0,0.5);
}
.boat__part--base {
  z-index: 4;
  bottom: 0;
  left: 8.625rem;
  width: 18rem;
  height: 4.75rem;
}
.boat__part--base:after {
  width: 25rem;
  height: 9.375rem;
  top: 3.375rem;
  left: -4.75rem;
  background: #ff58a8;
  background: -webkit-linear-gradient(top, #ff58a8 0%, #bc276d 100%);
  background: linear-gradient(to bottom, #ff58a8 0%, #bc276d 100%);
  -webkit-transform: skew(38deg, -4deg) rotate(-12deg);
  -ms-transform: skew(38deg, -4deg) rotate(-12deg);
  transform: skew(38deg, -4deg) rotate(-12deg);
}
.boat__part--right-base {
  z-index: 5;
  bottom: 4.5625rem;
  left: 21.75rem;
  width: 14.625rem;
  height: 6.625rem;
  -webkit-transform: rotate(-45deg) skewY(-4deg);
  -ms-transform: rotate(-45deg) skewY(-4deg);
  transform: rotate(-45deg) skewY(-4deg);
}
.boat__part--right-base:after {
  content: '';
  width: 18.75rem;
  height: 9.375rem;
  top: 2.5625rem;
  left: -4.75rem;
  background: -webkit-linear-gradient(left, #bd447e 0%, #ff58a8 100%);
  background: linear-gradient(to right, #bd447e 0%, #ff58a8 100%);
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
}
.boat__part--left-base {
  z-index: 3;
  bottom: 0.875rem;
  left: 2.125rem;
  width: 14.625rem;
  height: 19.125rem;
  -webkit-transform: rotate(-19deg) skewX(18deg);
  -ms-transform: rotate(-19deg) skewX(18deg);
  transform: rotate(-19deg) skewX(18deg);
}
.boat__part--left-base:after {
  width: 20rem;
  height: 18.75rem;
  top: 15.5rem;
  left: -3.25rem;
  background: -webkit-linear-gradient(left, #bd447e 0%, #ff58a8 100%);
  background: linear-gradient(to right, #bd447e 0%, #ff58a8 100%);
  box-shadow: 1.875rem -0.0625rem 1.6875rem -0.125rem rgba(0,0,0,0.5);
  -webkit-transform: rotate(45deg) skewX(41deg);
  -ms-transform: rotate(45deg) skewX(41deg);
  transform: rotate(45deg) skewX(41deg);
}
.boat__part--middle-left {
  z-index: 2;
  bottom: 3.5rem;
  left: 5.375rem;
  width: 13.75rem;
  height: 12.875rem;
}
.boat__part--middle-left:after {
  width: 10rem;
  height: 11.25rem;
  top: 2.125rem;
  left: 11.125rem;
  background: -webkit-linear-gradient(left, #bd447e 0%, #ff58a8 100%);
  background: linear-gradient(to right, #bd447e 0%, #ff58a8 100%);
  box-shadow: -0.75rem 6.625rem 54px -2px rgba(0,0,0,0.5);
  -webkit-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
}
.boat__part--middle-right {
  z-index: 2;
  bottom: 4.625rem;
  left: 19.125rem;
  width: 11.25rem;
  height: 11.4375rem;
  box-shadow: -1.1875rem 1rem 0.625rem -1.0625rem rgba(0,0,0,0.5);
}
.boat__part--middle-right:after {
  width: 10rem;
  height: 11.25rem;
  top: 3.1875rem;
  left: -6.125rem;
  background: -webkit-linear-gradient(left, #bd447e 0%, #ff58a8 100%);
  background: linear-gradient(to right, #bd447e 0%, #ff58a8 100%);
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.boat__part--back-right {
  z-index: 0;
  bottom: 4.25rem;
  left: 18.75rem;
  width: 15rem;
  height: 12.875rem;
  -webkit-transform: rotate(-42deg);
  -ms-transform: rotate(-42deg);
  transform: rotate(-42deg);
}
.boat__part--back-right:after {
  width: 18.75rem;
  height: 10rem;
  top: 6.375rem;
  left: -3.75rem;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.boat__part--back-left {
  z-index: 1;
  bottom: 4.0625rem;
  left: 3rem;
  width: 14.375rem;
  height: 12.875rem;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.boat__part--back-left:after {
  width: 26.25rem;
  height: 18.75rem;
  top: 5.8125rem;
  left: -9.5rem;
  background: -webkit-linear-gradient(left, #bd447e 0%, #ff58a8 100%);
  background: linear-gradient(to right, #bd447e 0%, #ff58a8 100%);
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.boat .chicken-holder {
  position: absolute;
  z-index: 2;
  left: 9.6875rem;
  top: 7.75rem;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.chicken-launcher {
  position: absolute;
  z-index: 15;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  top: 6.875rem;
  left: 9.6875rem;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  opacity: 0;
}
.chicken-launcher:checked,
.chicken-launcher:checked ~ .chicken-holder {
  top: -6.875rem;
  z-index: 3;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.chicken-launcher:checked {
  z-index: 4;
}
.chicken {
  width: 4rem;
  height: 8.6875rem;
  width: 3.9375rem;
  height: 4.75rem;
  background-color: #fd0;
  box-shadow: inset -2px -6px 0 #fbb500;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: relative;
}
.chicken__legs {
  height: 7.1875rem;
  width: 4.375rem;
  position: absolute;
  top: -0.0625rem;
  z-index: -1;
}
.chicken__legs:before,
.chicken__legs:after {
  content: '';
  position: absolute;
  background: #e76213;
  border-radius: 0.625rem;
  box-shadow: inset 0.0625rem -0.0625rem 0 #ce4113;
}
.chicken__legs:before {
  width: 0.1875rem;
  height: 0.5rem;
  top: 4.625rem;
  left: 2.25rem;
}
.chicken__legs:after {
  width: 0.1875rem;
  height: 0.5rem;
  top: 4.625rem;
  left: 1.625rem;
}
.chicken__legs__leg {
  position: absolute;
  border-radius: 0.625rem;
  background: #e76213;
  box-shadow: inset 0.0625rem -0.0625rem 0 #ce4113;
}
.chicken__legs__leg:before,
.chicken__legs__leg:after {
  content: '';
  position: absolute;
  box-shadow: inset -0.0625rem -0.0625rem 0 #ce4113;
  border-radius: inherit;
  background: inherit;
}
.chicken__legs__leg--left {
  top: 5.125rem;
  left: 1.625rem;
  width: 0.3125rem;
  height: 0.1875rem;
}
.chicken__legs__leg--left:before {
  width: 0.3125rem;
  height: 0.8125rem;
  top: -0.125rem;
  left: -0.625rem;
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}
.chicken__legs__leg--left:after {
  width: 0.3125rem;
  height: 0.6875rem;
  top: -0.0625rem;
  left: -0.25rem;
  -webkit-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  transform: rotate(26deg);
}
.chicken__legs__leg--right {
  top: 5.125rem;
  left: 1.9375rem;
  width: 0.3125rem;
  height: 0.1875rem;
}
.chicken__legs__leg--right:before {
  width: 0.3125rem;
  height: 0.8125rem;
  top: -0.125rem;
  left: 0.5625rem;
  box-shadow: inset 0.0625rem -0.0625rem 0 #ce4113;
  -webkit-transform: rotate(-59deg);
  -ms-transform: rotate(-59deg);
  transform: rotate(-59deg);
}
.chicken__legs__leg--right:after {
  width: 0.3125rem;
  height: 0.6875rem;
  top: -0.0625rem;
  left: 0.1875rem;
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
.chicken__legs__rope {
  position: absolute;
  z-index: 1;
  top: 4.875rem;
  left: 1.4375rem;
  height: 0.125rem;
  width: 1.125rem;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.0625rem;
}
.chicken__legs__rope:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0.125rem;
  width: 0.5625rem;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  transform: rotate(17deg);
}
.chicken__legs__rope--twitter {
  position: absolute;
  z-index: 1;
  top: 4.9375rem;
  left: 1.9375rem;
  height: 2.75rem;
  width: 0.0625rem;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0.0625rem;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.chicken__hair {
  width: 1rem;
  height: 0.625rem;
  position: absolute;
  z-index: -1;
  top: -0.6875rem;
  left: 35%;
}
.chicken__hair__bit--1,
.chicken__hair__bit--2 {
  position: absolute;
  background-color: #e76213;
  border-radius: 0.625rem;
}
.chicken__hair__bit--1 {
  width: 0.3125rem;
  height: 0.5rem;
  top: 0.25rem;
  left: 0.1875rem;
  box-shadow: inset 0.0625rem -0.0625rem 0 #ce4113;
  -webkit-transform: rotate(-43deg);
  -ms-transform: rotate(-43deg);
  transform: rotate(-43deg);
}
.chicken__hair__bit--2 {
  width: 0.3125rem;
  height: 0.625rem;
  top: 0.125rem;
  left: 0.625rem;
  box-shadow: inset -0.0625rem -0.125rem 0 #ce4113;
  -webkit-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  transform: rotate(27deg);
}
.chicken__wing {
  position: absolute;
  z-index: -1;
  background-color: #fd0;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
}
.chicken__wing:before,
.chicken__wing:after {
  content: '';
  position: absolute;
  background: inherit;
  box-shadow: inherit;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.chicken__wing--left {
  top: 3.625rem;
  left: -0.125rem;
  box-shadow: inset -0.125rem -0.0625rem 0 #fbb500;
}
.chicken__wing--left:before {
  top: -0.375rem;
  left: -0.0625rem;
}
.chicken__wing--left:after {
  top: 0.4375rem;
  left: 0.4375rem;
}
.chicken__wing--right {
  top: 3.625rem;
  left: 3.5rem;
  box-shadow: inset 0.125rem -0.0625rem 0 #fbb500;
}
.chicken__wing--right:before {
  top: -0.375rem;
  left: 0.3125rem;
}
.chicken__wing--right:after {
  top: 0.4375rem;
  left: -0.25rem;
}
.chicken__plumage {
  position: absolute;
  background-color: #fd0;
  box-shadow: 0 0.0625rem 0 #fbb500;
}
.chicken__plumage:before,
.chicken__plumage:after {
  content: '';
  position: absolute;
  box-shadow: inherit;
  background: inherit;
}
.chicken__plumage--1 {
  top: 3rem;
  left: 0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
}
.chicken__plumage--1:before {
  top: 0.125rem;
  left: 0.9375rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
}
.chicken__plumage--1:after {
  top: 0.25rem;
  left: 0.5rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.chicken__plumage--2 {
  top: 3.4375rem;
  left: 1.875rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.chicken__plumage--2:before {
  top: 0.375rem;
  left: -0.3125rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
}
.chicken__plumage--2:after {
  top: 0.4375rem;
  left: -0.875rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
}
.chicken__plumage--3 {
  top: 2.9375rem;
  left: 2.6875rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.chicken__plumage--3:before {
  top: 0.3125rem;
  left: -0.25rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
}
.chicken__plumage--3:after {
  top: 0.4375rem;
  left: 0.375rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
}
.chicken__eye {
  position: absolute;
  background-color: #fff;
  z-index: 0;
  box-shadow: 0.125rem 0.125rem 0 #fbb500;
}
.chicken__eye:before,
.chicken__eye:after {
  content: '';
  position: absolute;
  background-color: #fd0;
  z-index: -1;
}
.chicken__eye--left {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  top: 2.0625rem;
  left: 0.4375rem;
}
.chicken__eye--left:before {
  top: -0.25rem;
  left: -0.0625rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  width: 0.375rem;
  height: 0.25rem;
  box-shadow: 0rem -0.125rem 0.0625rem -0.0625rem #c99100;
  -webkit-transform: rotate(-38deg);
  -ms-transform: rotate(-38deg);
  transform: rotate(-38deg);
}
.chicken__eye--left:after {
  width: 0;
  height: 0;
  top: 0.1875rem;
  left: 0.1875rem;
  border-right: 0.125rem solid transparent;
  border-top: 0.125rem solid #000;
  border-left: 0.125rem solid #000;
  border-bottom: 0.125rem solid #000;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chicken__eye--right {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  top: 2.0625rem;
  left: 2.75rem;
}
.chicken__eye--right:before {
  top: -0.25rem;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  width: 0.375rem;
  height: 0.1875rem;
  box-shadow: 0 -0.1875rem 0.0625rem -0.0625rem #c99100;
  -webkit-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  transform: rotate(38deg);
}
.chicken__eye--right:after {
  width: 0;
  height: 0;
  top: 0.1875rem;
  left: 0.1875rem;
  border-right: 0.125rem solid transparent;
  border-top: 0.125rem solid #000;
  border-left: 0.125rem solid #000;
  border-bottom: 0.125rem solid #000;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chicken__nib {
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-bottom: 0.125rem solid #d44914;
  position: absolute;
  top: 1.9375rem;
  left: 1.5625rem;
}
.chicken__nib:after {
  content: '';
  position: absolute;
  border: 0.3125rem solid transparent;
  left: -0.3125rem;
  top: 0.125rem;
  width: 0;
  height: 0;
  border-top: 0.4375rem solid #d44914;
}
.chicken__nib--shadow {
  width: 0;
  height: 0;
  border-bottom: 0.125rem solid #fbb500;
  top: 2.0625rem;
  left: 1.625rem;
}
.chicken__nib--shadow:after {
  left: -0.3125rem;
  top: 0.125rem;
  border-top: 0.4375rem solid #fbb500;
}
.chicken__twit {
  position: absolute;
  top: 7.875rem;
  left: -3.0625rem;
  background-color: #fff;
  border-radius: 0.375rem;
  z-index: 0;
  padding: 4px;
  padding-bottom: 0;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
.chicken__twit:before,
.chicken__twit:after {
  content: '';
  position: absolute;
  top: -0.625rem;
}
.chicken__twit:before {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  z-index: -1;
  border: 0.3125rem solid #fff;
  border-radius: 1.25rem;
  left: 42%;
}
.chicken__twit:after {
  width: 0.125rem;
  height: 0.3125rem;
  background-color: #000;
  left: 46%;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.legomushroom-holder {
  position: absolute;
  left: 22.125rem;
  z-index: 3;
  top: -1.25rem;
}
.legomushroom {
  position: absolute;
  height: 15.625rem;
  width: 8.125rem;
  border-top-left-radius: 4.125rem;
  border-top-right-radius: 4.125rem;
  border-bottom-right-radius: 4.125rem;
  background: #07c3fc;
  background: -webkit-radial-gradient(center, ellipse, #07c3fc 0%, #05abe0 100%);
  background: radial-gradient(ellipse at center, #07c3fc 0%, #05abe0 100%);
  box-shadow: 0 0.5rem 0.625rem rgba(0,0,0,0.4);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.legomushroom__hat {
  position: absolute;
  top: -2.875rem;
  left: 2.875rem;
  width: 3.625rem;
  height: 4.75rem;
  overflow: hidden;
  z-index: 1000;
}
.legomushroom__hat__base {
  position: absolute;
  z-index: 1;
  top: 0.375rem;
  left: 1.125rem;
  width: 2rem;
  height: 2.625rem;
  background-color: #002433;
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}
.legomushroom__hat__base:after {
  content: '';
  position: absolute;
  top: 0rem;
  left: -0.0625rem;
  width: 2rem;
  height: 2.625rem;
  background-color: #002433;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.legomushroom__hat__base-line {
  z-index: 3;
  position: absolute;
  top: -0.875rem;
  left: -0.9375rem;
  border: 0.375rem solid #002433;
  width: 5rem;
  height: 3.375rem;
  border-radius: 2.5rem/1.5625rem;
  box-shadow: 0 0.125rem 0.1875rem rgba(0,0,0,0.3);
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}
.legomushroom__hat__stripe {
  position: absolute;
  z-index: 2;
  top: 0.4375rem;
  left: 1.0625rem;
  width: 2.0625rem;
  height: 2.625rem;
  overflow: hidden;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.legomushroom__hat__stripe:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -0.75rem;
  left: -2rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 2.5rem/1.25rem;
  border: 0.3125rem solid #043147;
}
.legomushroom__hat__stripe__square {
  z-index: 3;
  width: 0.4375rem;
  height: 0.4375rem;
  position: absolute;
  top: 1.9375rem;
  left: 0.5rem;
  background-color: #0d4759;
}
.legomushroom__hat__top {
  position: absolute;
  top: 0.25rem;
  left: 1.3125rem;
  width: 2rem;
  height: 0.25rem;
  border-radius: 1rem/0.125rem;
  background-color: #115f80;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}
.legomushroom__eye {
  width: 5.0625rem;
  height: 5.0625rem;
  border-radius: 50%;
  position: absolute;
  top: 1.4375rem;
  left: 1.375rem;
  background-color: #ff3e28;
  background: -webkit-radial-gradient(center, ellipse, #000 0%, #ff3e28 71%);
  background: radial-gradient(ellipse at center, #000 0%, #ff3e28 71%);
  box-shadow: inset 0 0 1.5rem rgba(255,255,0,0.3), inset 0.375rem 0 0.25rem rgba(255,255,0,0.3);
  border: 0.1875rem solid #000;
}
.legomushroom__eye:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0.25rem;
  top: 0.1875rem;
  background-color: #000;
  height: 4.75rem;
  width: 5.0625rem;
  border-radius: 2.5625rem/2.375rem;
}
.legomushroom__eye__fur {
  position: absolute;
  left: 4.875rem;
  top: 1.875rem;
  z-index: -1;
}
.legomushroom__eye__fur__fur-bit {
  background-color: #000;
  width: 0.5rem;
  height: 1.5625rem;
  border-radius: 0.25rem/0.75rem;
  position: absolute;
  left: 1.25rem;
}
.legomushroom__eye__fur__fur-bit--1 {
  top: 0;
  left: 0;
  box-shadow: 0.1875rem -0.25rem 0.375rem rgba(0,0,0,0.3);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.legomushroom__eye__fur__fur-bit--2 {
  left: 0.0625rem;
  top: 0.125rem;
  box-shadow: 0.1875rem -0.25rem 0.375rem rgba(0,0,0,0.3);
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.legomushroom__eye__holder {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  top: 2.1875rem;
  left: 1.6875rem;
  z-index: 1;
}
.legomushroom__eye__holder__radial {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  top: 0.0625rem;
  left: 0;
  position: absolute;
  z-index: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 42%, rgba(0,0,0,0.65) 44%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.62) 42%, rgba(0,0,0,0.65) 44%);
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}
.legomushroom__eye__holder__cloud {
  background: #c80000;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  z-index: 0;
  margin: 0.6875rem 0.5625rem 0 0;
  opacity: 0.35;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.legomushroom__eye__holder__cloud:before,
.legomushroom__eye__holder__cloud:after {
  content: '';
  position: absolute;
  background: inherit;
}
.legomushroom__eye__holder__cloud:before {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  margin: -0.1875rem 0 0 0.1875rem;
  box-shadow: 0.0625rem 0.0625rem 0 #c80000, 0.1875rem 0.0625rem 0 #c80000, 0.1875rem 0.1875rem 0 #c80000, -0.375rem 0.3125rem 0 #c80000, 0.1875rem -0.0625rem 0 #c80000;
}
.legomushroom__eye__holder__cloud:after {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  margin: 0 0 0 0.1875rem;
}
.legomushroom__eye__pupil {
  height: 2.5rem;
  width: 2.125rem;
  border: 2px solid #a7370e;
  background-color: #000;
  margin: 20% 0 0 28%;
  border-radius: 1.1875rem/1.375rem;
  position: absolute;
  box-shadow: 0 0 5px rgba(255,255,0,0.26);
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}
.legomushroom__eye__pupil:before,
.legomushroom__eye__pupil:after {
  content: '';
  position: absolute;
}
.legomushroom__eye__pupil:after {
  background-color: rgba(255,255,255,0.6);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 1;
  top: 14px;
  left: 6px;
}
.legomushroom__eye__pupil:before {
  background-color: rgba(255,255,255,0.6);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  z-index: 2;
  top: 16px;
  left: 13px;
}
.legomushroom__eye__glimpse {
  position: absolute;
  z-index: 1;
}
.legomushroom__eye__glimpse:before,
.legomushroom__eye__glimpse:after {
  content: '';
  position: absolute;
}
.legomushroom__eye__glimpse--1 {
  margin: 9px 0 0 34%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 63%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 63%, #fff 100%);
  opacity: 0.21;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.legomushroom__eye__glimpse--1:after {
  left: -15px;
  top: -3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 44%);
  background: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 44%);
  opacity: 0.7;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.legomushroom__eye__glimpse--1:before {
  z-index: 1;
  left: -33px;
  top: 36px;
  width: 32px;
  height: 23px;
  border-radius: 16px/12px;
  background: -webkit-radial-gradient(center, ellipse, #f80 0%, rgba(255,255,255,0) 56%);
  background: radial-gradient(ellipse at center, #f80 0%, rgba(255,255,255,0) 56%);
  -webkit-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  transform: rotate(68deg);
}
.legomushroom__eye__glimpse--2 {
  width: 10px;
  height: 40px;
  border-radius: 5px/20px;
  top: 26px;
  left: 66px;
  background-color: rgba(232,59,12,0.5);
  box-shadow: 0 0 20px rgba(232,59,12,0.8);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.legomushroom__eye__glimpse--2:after {
  width: 2px;
  height: 15px;
  border-radius: 1px/7px;
  z-index: 1;
  top: 10px;
  left: 8px;
  background-color: rgba(255,255,0,0.6);
  box-shadow: 0 0 30px rgba(255,255,0,0.6);
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
