noindex:-o-prefocus,
div#sky div#cloud1,
div#sky div#cloud2,
div#sky div#cloud3,
div#sky div#cloud4,
div#balloon_holder,
div#balloon_holder a#balloons_text,
div#balloon_holder .balloon2,
div#balloon_holder .balloon,
div#chicken_holder,
div#rope_to_twitter,
div#twit,
div#boat,
div#boat div#leg_right,
div#boat div#leg_left,
div#boat div#hair,
div#boat div#lego_body,
div#boat div#lego_body div#hat,
div#water1,div#water2,div#water3,
div#sky div#cloud1,
div#sky div#cloud2,
div#sky div#cloud3,
div#sky div#cloud4{
	animation:none;
}


@-moz-document url-prefix() {
	div#sky{
		background-color:red;
	}
}
