doctype
html
  head
    meta(charset='UTF-8')
    title break modal
    link(rel="stylesheet", type="text/css", href="css/main2.css")

  body
    mixin water(o)
      - var o = o || {}
      .water(class="#{o.class || ''}")
        - for (var i = 0; i < 36; i++)
          .water__top(class="water__top--#{i}")
    .water-holder
      +water()
      +water({class: 'water--middle'})
      +water({class: 'water--front'})


