doctype
html
  head
    meta(charset='UTF-8')
    title LegoMushroom
    link(rel="stylesheet", type="text/css", href="css/main2.css")

  body
    mixin water(o)
      - var o = o || {}
      .water(class="#{o.class || ''}")
        - for (var i = 0; i < 36; i++)
          .water__top(class="water__top--#{i}")
    .water-holder
      +water()
      +water({class: 'water--middle'})
      +water({class: 'water--front'})

      .boat
        .boat__part.boat__part--base
        .boat__part.boat__part--left-base
        .boat__part.boat__part--right-base
        .boat__part.boat__part--middle-left
        .boat__part.boat__part--middle-right
        .boat__part.boat__part--back-left
        .boat__part.boat__part--back-right
        input(type="checkbox").chicken-launcher
        .chicken-holder
          .chicken
            .chicken__wing.chicken__wing--left
            .chicken__wing.chicken__wing--right
            
            .chicken__legs
              .chicken__legs__leg.chicken__legs__leg--left
              .chicken__legs__leg.chicken__legs__leg--right
              .chicken__legs__rope
              .chicken__legs__rope.chicken__legs__rope--twitter
            
            .chicken__hair
              .chicken__hair__bit.chicken__hair__bit--1
              .chicken__hair__bit.chicken__hair__bit--2

            .chicken__plumage.chicken__plumage--1
            .chicken__plumage.chicken__plumage--2
            .chicken__plumage.chicken__plumage--3
            
            .chicken__eye.chicken__eye--left
            .chicken__eye.chicken__eye--right

            .chicken__nib--shadow
            .chicken__nib
            .chicken__twit
              <a href="https://twitter.com/legomushroom" class="twitter-follow-button" data-show-count="false">Follow @legomushroom</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        .legomushroom-holder
          .legomushroom
            .legomushroom__hat
              .legomushroom__hat__top
              .legomushroom__hat__stripe
                .legomushroom__hat__stripe__square
              .legomushroom__hat__base
              .legomushroom__hat__base-line

            .legomushroom__eye
              .legomushroom__eye__fur
                .legomushroom__eye__fur__fur-bit.legomushroom__eye__fur__fur-bit--1
                .legomushroom__eye__fur__fur-bit.legomushroom__eye__fur__fur-bit--2
              .legomushroom__eye__holder
                .legomushroom__eye__holder__radial
                .legomushroom__eye__holder__cloud
              .legomushroom__eye__glimpse.legomushroom__eye__glimpse--1
              .legomushroom__eye__glimpse.legomushroom__eye__glimpse--2
              .legomushroom__eye__pupil
            .legomushroom__smile
              .legomushroom__mouth
                .legomushroom__mouth__inner
                .legomushroom__mouth__base
              .legomushroom__smile__chicks

